<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>cuadros</h1>
    <!-- localhost:3000/cuadros/pintor -->
    <form action="/cuadros/pintor" method="post">
        <label for="">Nombre del pintor</label>
        <input type="text" name="name">

        <label for="">tipo de pintura</label>
        <input type="text" name="tipo_pintura">

        <button type="submit">Guardar</button>
    </form>
</body>


</html>